@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 1000px;
  background-image: url("https://www.psdgraphics.com/wp-content/uploads/2022/01/white-math-paper-texture.jpg");
  background-position: center center;
}

.paper {
  cursor: pointer;
  background-image: url("https://www.textures4photoshop.com/tex/thumbs/seamless-notebook-paper-texture-free-thumb36.jpg");
  background-size: 540px;
  background-position: center center;
  padding: 20px 100px;
  transform: rotateZ(-5deg);
  box-shadow: 1px 15px 20px 0px rgba(0,0,0,0.5);
  
  position: absolute;
}

.paper.heart {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 0;
  border-radius: 50%;
}

.paper.image {
  padding: 60px 30px ;
}
.paper.image p {
  font-size: 30px;
}
.paper.heart::after {
  content: "";
  background-image: url('https://cdn.pixabay.com/photo/2016/03/31/19/25/cartoon-1294994__340.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 150px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  opacity: 0.7;
}

p {
  font-family: 'Zeyada';
  font-size: 31px;
  color: rgb(2, 2, 135);
  opacity: 0.9;
  cursor: pointer;
  -webkit-user-select: none;
 
}

#shayaripaper{
  padding: 3px 3px;
}

#shayaripaper h2{
  text-align: center;
  font-family: 'Zeyada';
  margin: 0px ;
  opacity: 0.85;
  -webkit-user-select: none;
  
}
#shayaripaper p{
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: center;
  font-size: 26px;
}
